In [1]:
import pandas as pd

In [8]:
 df = pd.DataFrame([
['1', 'Informatika', 50, 30, 20],
['2', 'Sistem Informasi', 55, 30, 25],
['3', 'Teknik Sipil', 40, 30, 10]])

In [9]:
df.columns = ['No.', 'Prodi', 'Mahasiswa', 'laki-laki','Perempuan']

In [10]:
df

  No.             Prodi  Mahasiswa  laki-laki  Perempuan
0   1       Informatika         50         30         20
1   2  Sistem Informasi         55         30         25
2   3      Teknik Sipil         40         30         10